body{
    background: url("../img/3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main{
    margin-top: 100px;
}
.team-logo{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
ul{
    list-style-type: none;
}
.btn-default{
    width: 300px;
    text-align: left;
    opacity: 0.90;
}
.navbar{
    opacity: 0.8;
}
.caret{
    float: right;
    margin-top: 8px;
}
.dropdown-menu{
    top: 0;
    left: 300px;
    opacity: 0.90;
}
.list-group-item{
    height: 40px;
    font-size: 12px;
    opacity: 0.90;
    padding: 8px;
    width: 350px;

}
.list-group-item a{
    color: black;
    font-weight: bold;
    width: 350px;
}
button.list-group-item {
    width: 100%;
}
.list-group{
    width: 250px;
}
.fixture{
    opacity: 0.95;
    background-color: #ffffff;
    color: rgb(202, 51, 73);
}
.fixture a{
    color: rgb(202, 51, 73);
}
.fixture th{
    color: black;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}

th{
    background-color: #888888;
}
.heading{
    text-align: center;
    color: #ffffff;
    font-size: 45px;
}
.media{
    opacity: 0.95;
    background-color: #ffffff;
}
 .media-object{
    width: 125px;
    height: 125px;
     padding: 20px;
}
.media-heading{
    text-align: center;
    font-size: 75px;
    line-height: 75px;
    padding: 20px;
}
.media-body{
    margin-bottom: 20px;
}
.media a{
    color: black;
    font-weight: bold;
}

.active{
    color: #ffffff;
}
#team-main a:hover{
    cursor: pointer;
    background-color: darkgray;
    color: #ffffff;
}
.nav .nav-tabs .nav-justified{
    border-bottom: 2px solid darkgray;
}
.panel-login {
    border-color: rgb(202, 51, 73);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    opacity: 0.95;
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: black;
    font-size: 26px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color:#9d9d9d;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: rgb(202, 51, 73);
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

