{{#competitions}}
<div class="dropdown buttons">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{caption}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Teams</a></li>
        <li><a href="#">League Table</a></li>
        <li><a href="#">Fixtures</a></li>
    </ul>
</div>
{{/competitions}}