<div class="list-group">
    {{#teams}}
        <button type="button" class="list-group-item"><img src="{{crestUrl}}" class="team-logo" alt="img"/><a href="#">{{name}}</a></button>
    {{/teams}}
</div>

